<%- include('head') -%>
  <%- include('header') -%>
  <main class="c-backdrop">
<!--
    <div class="c-title-block c-title-block--large">
      <div class="c-title-block__content">
        <header class="c-title">
        </header>
      </div>
    </div>
-->
    <header class="title-block">
      <h1 class="c-title__heading c-title__heading--large"><%= title %></h1>
    </header>
    <div class="c-content">
      <div class="s-post">

        <%- contents -%>

      </div>
    </div>
  </main>
<%- include('footer') -%>
